#profile {
    max-width: 100%;
    margin-top: 50px;
}

.card-footer {
    padding: 1rem;
}

h4 {
    margin-top: 20px;
}

p {
    margin: 0;
    font-size: 1.1rem;
}

h5 {
    margin-top: 15px;
}

img {
    margin-top: 20px;
}


.form-group {
    position: relative;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    transition: all 0.3s ease;
    pointer-events: none;
    color: #6c757d;
}

.form-control {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.3); 
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -12px;
    left: 20px;
    transform: translateX(0);
    font-size: 0.85rem;
    color: #28a745;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #fff;
}

.form-control::placeholder {
    color: transparent;
}

.btn-success {
    background-color: #00854a;
    border-color: #28a745;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-success:hover {
    background-color: #28a745;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-close:focus {
    outline: none; 
    box-shadow: none; 
}

.card.shadow-lg {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.toggle-password {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    font-size: 1.2rem;
    z-index: 2;
}

.form-group {
    position: relative;
}

.form-group input {
    padding-right: 40px; 
}
